*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

:root{
    --red: #eb5463;
    --red_h: #f5b945;
    --red_l: #fbd277;
    
    --teal_darken: #00796b;
    --teal_darken_h: #00695c;
    --teal_darken_l: #00897b;
    
    --blue_grey_darken: #37474f;
    --blue_grey_darken_h: #263238;
    --blue_grey_darken_l: #455a64;
}

a{
    text-decoration: none;
    font-weight: normal;
}

/*BOTÕES*/
.btn{
    display: inline-block;
    padding: 10px 20px;
    background: #888;
    border: none;
    font-size: 1em;
    font-weight: normal;
    color: #fff;
    text-shadow: 1px 1px rgba(0,0,0,0.3);
    box-shadow: 0 3px 7px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 3px 7px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 3px 7px rgba(0,0,0,0.5);
    cursor: pointer;
}

.btn:hover{
    color: #fff;
    background: #666;
    box-shadow: 0 0 0 rgba(0,0,0,0);
    -moz-box-shadow: 0 0 0 rgba(0,0,0,0);
    -webkit-box-shadow: 0 0 0 rgba(0,0,0,0);
}

/*BOTÕES: tamanho*/
.btn-small{
    font-size: 0.875em;
}

.btn-big{
    font-size: 1.275em;
}

/*BOTÕES: cores*/
.btn-black{
    color: #fff;
    background: var(--blue_grey_darken);
}

.btn-black:hover{
    color: #fff;
    background: var(--blue_grey_darken_h);
}